body{
	font: 15px/1.5 Arial;
	padding:0;
	margin:0;
	background-color:light-gray;
}

.container{
	width:75%;
	margin:auto;
	overflow:hidden;
	padding : 10px;
}

ul{
	margin:0;
	padding:0;
}

header{
	background:black;
	color:white;
	padding-top:30px 0 20px 0;
	min-height:50px;
	border-bottom:red 3px solid;
}

header a{
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:red;
	font-weight:bold;
}

header a:hover{
	color:red;
	font-weight:bold;
}

footer{
	padding:5px;
	margin-top:5px;
	color:white;
	background-color:gray;
	text-align: center;
}

#showcase{
	min-height:600px;
	background:url('../img/Showcase.jpg') no-repeat 0 -400px;
	text-align:center;
	color:white;
}

#showcase h1{
	margin:200px;
	font-size:50px;
	margin-bottom:10px;
}

#content{
    padding:10px;
    color:white;
	background:black;
}

#content h1{
	float:left;
}

#profiles{
	margin-top:20px;
}

#profiles .profile{
	float:left;
	text-align:center;
	width:20%;
	padding:25px;
}

#profiles .profile img{
	width:100px;
}

#project{
    padding:10px;
    color:black;
	background:white;
}

article#main-col{
	float:left;
	width:65%;
}

aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

.dark{
	padding:15px;
  	background:orange;
  	color:white;
  	margin-top:10px;
  	margin-bottom:10px;
}

#main-col{
	padding:15px;
	background:purple;
	margin-top:10px;
	margin-bottom:10px;
	color :white;
}

section div div img
{
	border-radius: 50%;
}
